<% layout("/layouts/boilerplate") -%>

    <h3>Edit your listing</h3>
    <form method="POST" action="/listing/<%=data.id%>?_method=PUT">
    <input name="Listing[title]" value="<%=data.title%>">
    <br> <br><br>

    <textarea  name="Listing[description]" ><%=data.description%></textarea> <br> <br><br>
     <input name="Listing[price]" value="<%=data.price%>"><br> <br><br>
     <input name="Listing[image]" value="<%=data.image%>"> <br> <br><br>
    <input name="Listing[location]" value="<%=data.location%>"> <br> <br><br>
    <input name="Listing[country]" value="<%=data.country%>">

        
    <button>Add</button>
    </form>
      

    
