<% layout("/layouts/boilerplate") -%>

    <h2> Listing!</h2>
    <ul>
       <li><%=data.title%></li>
       <li><%=data.description%></li>
       <li><%=data.price%></li>
       <li><%=data.location%></li>
       <li><%=data.country%></li>
    </ul>
    <form method="GET" action="/listing/<%=data.id%>/edit" >
        <button> Edit </button>
    </form>
    <form method="POST" action="/listing/<%=data.id%>?_method=DELETE">
        <button>Delete</button>
    </form>
